
#userEmail {
    margin-right: 1%;
}

#userEmail:active, #userEmail:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: rgb(81, 165, 196);
}

#userPassword {
    margin-right: 1%;
}

#userPassword:active, #userPassword:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: rgb(81, 165, 196)
}

.signinform {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-left: 57.5%;
    padding-top: 8px;
}
