body {
    background-color: rgb(243, 243, 243);
}

.card {
    border-radius: 0rem;
    z-index: 0;
}

.pCard {
    margin-left: -65px;
    width: 320px;
    margin-top: 7.5%;
    height: auto;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
}

#pUsername {
    font-size: 20px;
    font-weight: 700;
}

#pImage {
    border-radius: 50%;
    margin-bottom: 2%;
}

#pBgColor {
    top: 0%;
    left: 0%;
    background-color: rgb(81, 165, 196);
    height: 70px;
    width: 100%;
    position: absolute;
    z-index: -1;
}


.edit-button{
    z-index:2;
}

.modal-button{
    background-color: rgb(81, 165, 196);
    border-color: rgb(81, 165, 196);

}
.buttons{
    display: flex;
    margin-left:20%;
    
}

.view-profile{
    background-color: rgb(81, 165, 196);
    border-color: rgb(81, 165, 196);
}

#searchFollow {
    margin-right: 10px;
}

.mUnfollow {
    margin-top: 0px;
    width: 150px;
}

.mFollow {
    margin-top: 0px;
    width: 150px;
}

.test {
    display: none;
}

.githubNotAvailable {
    font-size: 13px;
}

.skillsNotAvailable {
    margin-top: 7%;
    font-size: 13px;
}

@media all and (max-width: 550px) and (min-width: 300px) {
    /* .viewingProfile {
        padding-top: 45px;
    } */

}