.event-card{
    margin-top:7.5%;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    width: 300px;
}

#pBgColor {
    height: 65px;
}

.eventContainer {
    /* position: fixed; */
}

.eventBox {
    padding-top: 10px;
    padding-bottom: 20px;
}

.shadow-sm {
    margin-bottom: 5%;
}

.eventBody {
    font-size: 12px;
    line-height: 1px;
    margin-top: 10px;
}

.eventDate {
    font-size: 12px;
    line-height: 1px;
}

.eventTime {
    font-size: 12px;
    line-height: 10px;
    margin-bottom: -10px;
}