.feed {
        margin-top:5px;
        box-shadow: 10px 10px 8px #888888;
        border-style:solid;
        border-width:.5em;
         border-color:rgb(62, 177, 219);
        }

.postBox {
        background-color: white;
        margin-top:5px;
        margin-bottom: 2%;
        background-color: white;
        box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
}



ul{
text-align:center;
    }

.feedcard{
        margin-right:10%;
        margin-left:10%;
        background-color:white
        }


.feedPadding {
        padding-left: 5%;
        padding-top: 2%
}

.feedHr {
        width: 40%;
        margin-left: 0;
}



.postInteraction {
        height: 40px;
        background-color: rgb(241, 241, 241);
        background-image: linear-gradient(rgb(241, 241, 241), rgb(242, 242, 242));
        margin-top: 2%;
        margin-left: -5.2%;
}

.likes {
        width: 150px;
        margin-left: 15%
}

.comments {
        width: 150px;
        margin-left: 15%
}

.likeCount {
        margin-right: 3%;
}

/* .sortPost {
        width: 80%;
        margin-left: 0%;
        display: inline-block;
}

.sortText {
        line-height: -10px;
}
        */

.username {
        position: relative;
        top: -60px;
        right: 200px;

}

#feed-image{
        right:200px;
        height:50px;
        top: -60px;
        position:relative;}


.comment-button{
        width: 20px;
        height:20px;
        text-align:center;
        position:relative;
        top:-60px;
        left:220px;
}

.comment-box{
position:relative;
height:100px;
width:450px;
right:10px;
}

.post-title{
        position: relative;
        top: -50px;

}

.post-body{position: relative;
        top: -30px;}
