.feed {
        margin-top:5px;
        height:500px;
        background-color:rgb(62, 177, 219);}



ul{text-align:center;
    }

 .feedcard{
        margin-right:10%;
        margin-left:10%;
        
        background-color:white
        
        }