.memberBox {
    margin-top: 3%;
    width: 22%;
    height: 240px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
}

.memberFloat {
    float: left;
    margin-top: 5%;
    margin-right: 3%
}

.memberImg {
    margin-top: 5%;
}

.memberName {
    font-size: 18px;
}

.memberViewProfile {
    margin-top: 10%;
    margin-right: 2%;
    background-color: rgb(81, 165, 196);
}

.view-profile{
    background-color: rgb(81, 165, 196);
    border-color: rgb(81, 165, 196);
}

.memberFollow {
    margin-top: 25px;
}