.memberContainer {
    margin-top: 10%;
}
.memberBox {
    width: 22%;
    height: 240px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
}

.memberFloat {
    float: left;
    margin-right: 3%
}

.memberImg {
    margin-top: 5%;
}

.memberName {
    font-size: 14px;
}

.memberViewProfile {
    margin-top: 10%;
    margin-right: 2%;
    background-color: rgb(81, 165, 196);
    border-color: rgb(69, 148, 177);
}

.memberViewProfile:hover {
    background-color: rgb(67, 144, 172);
    border-color: rgb(56, 128, 155);
}

.view-profile{
    background-color: rgb(81, 165, 196);
    border-color: rgb(81, 165, 196);
}

.btn-secondary {
    background-color: none;
}

.memberFollow {
    margin-top: 25px;
    background-color: rgb(81, 165, 196);
    border-color: rgb(69, 148, 177);
}

.memberFollow:hover {
    background-color: rgb(67, 144, 172);
    border-color: rgb(56, 128, 155);
}

