body {
    background-color: rgb(243, 243, 243);
}

.col-6 {
    margin-top: 9%;
}

.col-3 {
    margin-top: 7.5%;
}

.card {
    border-radius: 0rem;
    z-index: 0;
}

.pCard {
    top: 0px;

    margin-left: -50px;
    width: 300px;
    margin-top: 7.5%;
    height: auto;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    position: fixed;
    
}

#pUsername {
    font-size: 20px;
    font-weight: 700;
}

#pImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 2%;
}

#pBgColor {
    top: 0%;
    left: 0%;
    background-color: rgb(81, 165, 196);
    height: 65px;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.card-text {
    font-size: 15px;
}


.edit-button{z-index:2;
}

.modal-button{
    background-color: rgb(81, 165, 196);
    border-color: rgb(81, 165, 196);

}

.buttons{
    display: flex;
    margin-left:20%;
    
}

.view-profile{
    background-color: rgb(81, 165, 196);
    border-color: rgb(69, 148, 177);
}


.view-profile:hover {
    background-color: rgb(67, 144, 172);
    border-color: rgb(56, 128, 155);
}

.pEdit {
    margin-left: 5%;
    border-color: rgb(69, 148, 177);
}

.pEdit:hover {
    background-color: rgb(67, 144, 172);
    border-color: rgb(56, 128, 155);
}

.pBio {
    min-height:110px;
}
  
.noresize {
    min-height: 120px;
    width: 465px;
    border: none;
    resize: none; 
  }

.pMaxLength {
    position: absolute;
    top: 31%;
    left: 5%;  
    width: 200px;
}

.pMaxSkills {
    position: absolute;
    top: 62%;
    left: 5%;
    width: 200px;
}

.skillBtn1 {
    margin-top: 10px;
    margin-right: 10px;
}

.repoLink {
    height: 30px;
    width: 465px;
    border: none;
    resize: none; 
    font-size: 15px;
    border:0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom:1px solid rgb(214, 214, 214);
    border-color: rgb(81, 165, 196)
  }

  .repoLink:focus, .repoLink:active {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
 }




 @media all and (max-width: 550px) and (min-width: 300px) {

    .pCard {
        display: none;
    }

    .event-card {
        display: none;
    }

    .footer {
        display: none;
    }

    .postcard {
        margin-left: -60%;
        width: 350px;
    }

    .postBox {
        margin-left: -60%;
        width: 350px;
    }

    .postInteraction {
        width: 350px;
    }

    .likes {
        margin-left: 7.5%;
    }

    .comments {
        display: contents;
        margin-left: 60%;
    }


 }