body {
    background-color: rgb(243, 243, 243);
}

.card {
    border-radius: 0rem;
    z-index: 0;
}

.pCard {
    margin-left: -50px;
    width: 300px;
    margin-top: 7.5%;
    height: auto;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
}

#pUsername {
    font-size: 20px;
    font-weight: 700;
}

#pImage {
    border-radius: 50%;
    margin-bottom: 2%;
}

#pBgColor {
    top: 0%;
    left: 0%;
    background-color: rgb(81, 165, 196);
    height: 65px;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.card-text {
    font-size: 15px;
}


.edit-button{z-index:2;
}

.modal-button{
    background-color: rgb(81, 165, 196);
    border-color: rgb(81, 165, 196);

}

.buttons{
    display: flex;
    margin-left:20%;
    
}

.view-profile{
    background-color: rgb(81, 165, 196);
    border-color: rgb(69, 148, 177);
}


.view-profile:hover {
    background-color: rgb(67, 144, 172);
    border-color: rgb(56, 128, 155);
}

.pEdit {
    margin-left: 5%;
    border-color: rgb(69, 148, 177);
}

.pEdit:hover {
    background-color: rgb(67, 144, 172);
    border-color: rgb(56, 128, 155);
}

.pBio {
    min-height:110px;
}
  
.noresize {
    min-height:140px;
    width: 465px;
    border: none;
    resize: none; 
  }

.pMaxLength {
    position: absolute;
    top: 33%;
    left: 5%;  
    width: 200px;
}

.pMaxSkills {
    position: absolute;
    top: 67.5%;
    left: 5%;
    width: 200px;
}

.skillBtn1 {
    margin-top: 10px;
    margin-right: 10px;
}

.repoLink {
    height: 30px;
    width: 465px;
    border: none;
    resize: none; 
  }
