.footer {
    position: fixed;
    top: 30%;

    background-color:white;
    border-radius: 0rem;
    z-index: 0;
    width: 300px;
    margin-top: 7.5%;
    height: auto;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    text-align:center;
    font-style:italic;
    font-size:.8em;

}