  
body{
    font-weight: 500;
}

.submit-button {
    margin: 1px;
    color: rgb(81, 165, 196);
    background-color: white;
    border-color: rgb(81, 165, 196);
}

.signupContainer {
    height: 70px;
}

.marginSignup {
    left: 10%;
}



#signuplogo {
    width: 200px;
    height: 200px;
    background: rgb(81, 165, 196);
    margin-top: 5%;
    margin-left: 15%;
    margin-bottom: 5%;
}

.logoTitle {
    color: white;
    margin-bottom: 5%;
}

.logoSubIcons {
    margin-right: 5%;
    width: 20px;
}

.logoSubText {
    margin-top: 5%;
    color: white;
}

.marginForm {
    margin-bottom: 3.5%;
}

.logoSubIcons {
    margin-right: 5%;
    width: 20px;
}

.logoSubText {
    margin-top: 5%;
    color: white;
}

.marginForm {
    margin-bottom: 3.5%;
}

/* #userEmail {
    border-color: rgb(81, 165, 196)
}
#userPassword {
    border-color: rgb(81, 165, 196)
} */
/* #userPhoneNumber {
    border-color: rgb(81, 165, 196)
}
#userBday {
    border-color: rgb(81, 165, 196)
} */

#signupEmail:active, #signupEmail:focus, #signupPassword:active, #signupPassword:focus, #signupPhone:active, #signupPhone:focus, #signupBirthday:active, #signupBirthday:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: rgb(81, 165, 196)
}

.signupBtn {
    width: 50%;
    margin-left: 25%;
}

.signupTitle {
    margin-left: 23.5%;
    margin-bottom: 5%;
}

.signupform{
    width: 80%;
    
}

.logoBg {
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgb(81, 165, 196);
    height: 100%;
    width: 50%;
}

.popup {
    width: 80%;
}

.signupBackground {
}


@media all and (max-width: 550px) and (min-width: 300px) {
    .container {
        height: auto;
    }

    .logoBg {
        position: absolute;
        top: 50%;
        left: 0%;
        background-color: rgb(81, 165, 196);
        height: 50%;
        width: 100%;
  }

  .logoTitle {
        position: absolute;
        top: -12.5%;
        left: 25%;
        color: rgb(46, 46, 46);
        margin-bottom: 5%;
        font-size: 30px;
  }

  .signupBackground {
      position: absolute;
      background-color: rgb(183, 207, 207);
      top: 0%;
      width: 300px;
      height: 200px;
  }

  #signuplogo {
      /* position: absolute;
      top: 30%;
      background: none;
      height: 50px;
      width: 50px; */
      display: none;
  }

  #userEmail {
      position: absolute;
      top: 10%;
      left: 10%;
      width: 80%
  }

  #userPassword {
    position: absolute;
    top: 17.5%;
    left: 10%;
    width: 80%
  }

  .signinBtn {
      position: absolute;
      top: 25%;
      left: 25%;
      width: 50%;
  }

  .signupTitle {
      position: absolute;
      top: 50%;
      left: -80%;
  }

  .signupform {
      padding-top: 50%;
      margin-top: 10%;
      z-index: 10;
      margin-top: 150%;
      margin-left: -200px;
      width: 300px;
  }

  .signupBtn {
      margin-left: 15%;
      width: 70%;
  }

  .marginSignup {
  }

  /* #signupEmail {
      position: absolute;
      left: -210px;
      width: 90%
  }
  #signupPassword {
      position: absolute;
      top: 52.5%;
      width: 90%;
      left: -17.5%;
  }
  #signupPhone {
    position: absolute;
    top: 75%;
    width: 90%;
    left: -17.5%;
  } */






  .sub1 {
    color: rgb(46, 46, 46);
    position: absolute;
      top: 27.5%;
      left: 5%;
      font-size: 13px;
      width: 200px;
  }

  .sub2 {
    color: rgb(46, 46, 46);
    position: absolute;
    top: 35%;
    left: 30%;
    font-size: 13px;
    width: 300px;
}

.sub3 {        
    color: rgb(46, 46, 46);
    position: absolute;
    top: 27.5%;
    left: 105%;
    font-size: 13px;
    width: 200px;
}



  }