body{
    font-weight: 500;
}

.submit-button {
    margin: 1px;
    color: rgb(81, 165, 196);
    background-color: white;
    border-color: rgb(81, 165, 196);
}

#signuplogo {
    width: 500px;
    height: 500px;
    background: rgb(81, 165, 196)
}



#userEmail {
    border-color: rgb(81, 165, 196)
}
#userPassword {
    border-color: rgb(81, 165, 196)
}
#userPhoneNumber {
    border-color: rgb(81, 165, 196)
}
#userBday {
    border-color: rgb(81, 165, 196)
}



.signupform{
    width: 70%;

}